---
import ReactLogo from "./ReactLogo.astro"
---

<header
  class="flex justify-center flex-col max-w-xl mx-auto items-center pt-12"
>
  <h1
    class="font-bold items-center mb-8 mt-4 flex gap-4 animate-blurred-fade-in"
  >
    <span class="flex flex-col text-center gap-3 sm:gap-0">
      <span
        class="tracking-tighter text-5xl px-1 bg-clip-text inline-block text-transparent bg-gradient-to-r from-slate-400 to-slate-600 sm:text-6xl"
        >Curso de
      </span>
      <span
        class="tracking-tighter text-slate-800 text-[32px] sm:text-[70px] -mt-8"
        >React.js</span
      >
    </span>

    <span>
      <ReactLogo />
    </span>
  </h1>
</header>
